.footer {
    background: #ff0000;
    height: 100px;
    margin-top: -3px;

    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 30px;
    }

    &__link {
        text-align: center;
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        height: 30px;
        width: 100px;
        line-height: 30px;
        border-radius: 50px;
        margin-left: 15px;
        padding: 1px;
        border: 0 solid #fff;
    }

    &__link:hover {
        height: 30px;
        width: 100px;
        margin-left: 15px;
        border: 1px solid #fff;
        color: orange;
    }
}